# Java:
*.class
*.jar
*.war
*.nar
*.ear

# Archive / Compressed:
*.zip
*.tar.gz
*.tgz
*.rar
*.bak

# TeX / XFig:
*.pstex*
*.aux
Specification/Fig/xfigNotes.txt

# Emacs:
*.*~

# Log:
*.log

# Dynamic configuration:
Clojure/Webservices/GameEngP2T/game_eng_p2t/resources/game_setup.json




